.wrapper {
  text-align: center;
  width: 90%;
  max-width: 700px;
  padding: 20px;
}

.title {
  color: #9290C3;
  margin-bottom: 30px;
  font-size: 2rem;
  cursor: default;
  user-select: none;
}

.image {
  max-height: 350px;
  border-radius: 10px;
  margin-bottom: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}


.image:hover {
  transform: scale(1.02);
}

.details {
  margin-bottom: 20px;
}

.character-name {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 12px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  background-color: #1B1A55;
  color: white;
  border: none;
  border-radius: 8px;
  margin-right: 10px;
}

.gb {
  padding: 12px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  background-color: #9290C3;
  color: white;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}

.gb:hover {
  background-color: #7270bf;
}

.gb:active {
  background-color: #9c9ac1;
}