.home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 90vw;
    color: #a7a7e0;
}

header{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    padding: 40px 0;
    font-size: 2rem;
    color: aliceblue;
    text-shadow: 0 0 5px rgb(0, 208, 255);
}
.title h1 {
    color: #fff;
    padding-top: 250px;
    font-size: 5rem;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    margin: 0;
}

.home-btn {
    background-color: #4c4f84;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 12px 40px;
    margin: 10px;
    border-radius: 25px;
    width: 200px;
    transition: background-color 0.3s ease;
}

.home-btn:hover {
    background-color: white;
    color: #4c4f84;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 5px white,
              0 0 5px white, 
              0 0 5px white;
}
